<div>
  <rio-login-modal
    (onSubmit)="actions.loginUser($event)"
    [hasError]="hasError$ | async"
    [isPending]="isLoading$ | async"
    *ngIf="loggedOut$ | async">
  </rio-login-modal>

  <rio-navigator>
    <rio-navigator-item [mr]=true>
      <rio-logo></rio-logo>
    </rio-navigator-item>

    <rio-navigator-item *ngIf="loggedIn$ | async" [mr]=true>
      <a [routerLink]="['Counter']"
        class="text-decoration-none">Counter</a>
    </rio-navigator-item>

    <rio-navigator-item *ngIf="loggedIn$ | async">
      <a [routerLink]="['About']"
        class="text-decoration-none">About Us</a>
    </rio-navigator-item>

    <div class="flex flex-auto"></div>

    <rio-navigator-item *ngIf="loggedIn$ | async" [mr]=true>
      {{ userName$ | async }}
    </rio-navigator-item>

    <rio-navigator-item [hidden]="loggedOut$ | async">
      <rio-button className="bg-red white" (click)="actions.logoutUser()" >
        Logout
      </rio-button>
    </rio-navigator-item>
  </rio-navigator>
  <main>
    <router-outlet *ngIf="loggedIn$ | async"></router-outlet>
  </main>
</div>