<div class="panel panel-default">
  <div class="panel-heading">Parties in Line</div>
  <div class="panel-body">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
<!--          <th>Id</th>-->
          <th>#</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let party of lineup">
          <!--<td>
            {{party.partyId}}
          </td>-->
          <td>
            {{party.numberOfPeople}}
          </td>
          <td>
            {{party.partyName}}
          </td>
          <td>
      <button 
        type="button" 
        (click)="partyLeft.emit({partyId: party.partyId})">X
        </button>      
          </td>
        </tr>
        
        <tr ngForm #party="ngForm">
<!--          <td></td>-->
<td><input name="numberOfPeople" type="number" ngModel placeholder="Number of People"></td>
<td><input name="partyName" type="text" ngModel placeholder="Party Name"></td>
<td><button type="button" (click)="partyJoined.emit(party.value)">New Party</button></td>
          </tr>

      </tbody>
            
    </table>
    <br/>
    
  </div>
  <lineup-summary></lineup-summary>
</div>